body {background: url('assets/freedom.jpg') center no-repeat fixed;
			background-size: cover;
}

p {
	text-align: center;
	padding: 10px 15px 25px;
}

#quote {
	text-transform: uppercase;
}

.author {}
